.card {
    border: 1px solid #111111;
    padding: 30px;
    width: 210px;
    border-radius: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    .plus{
      cursor: pointer;
    }
  
  
  
    &:hover{
      box-shadow: 0px 20px 35px #ca3434;
      transform: translateY(-5px);
    }
  
    span{
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
    }
  
  
  }