body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f0edc3;
}
* {
  font-family: 'Inter', system-ui;
}

.wrapper {

  max-width: 1080px;
  margin: 50px auto;
  


  background: #ffffff;

  border-radius: 20px;

}

header {
  border-bottom: 1px solid #ca3434;
  img{
      margin-right: 15px;
    }
  h3,
  p{
      margin: 0;
    }
}
.content{
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .gButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}
.overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer{
  display: flex;
  overflow: scroll;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items{
    flex: 1;
    overflow:auto;
    margin-bottom: 40px;
  }
  h2{
    margin: 0;
  }
}
.cartTotalBlock {
  ul{
    display: block;
    margin-bottom: 40px !important;
  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  div{
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #d80606;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
}
  }
}
.cartEmpty{
  text-align: center;
}









.gButton{
  width: 100%;
  height:55px;
  background: rgb(83, 75, 75) ;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2 ease-in-out;
  &:hover{
    background: lighten(#494444, 5%)
  }
  &:active{
    background: darken(#494444, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}



.con{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form {
  
    color: black;
 
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 72vh;
    
    &__email{
        margin-bottom: 10px;
        cursor: pointer;

    }
    &__title{
        margin-bottom: 10px;
        
    }
    &__field{
        width: 100%;
        
        height: 40px;
        margin-bottom: 10px;
        border: none;
        background: transparent;
        outline: none;
        padding: 0 7px;
        border-bottom: 1 px solid rgb(223, 18, 18);

    }
    &__btn{
       margin-bottom: 20px;
       padding: 10px 0;
       background: rgb(83, 75, 75) ;
       border-radius: 10px;
       font-style: normal;
       font-family:'Courier New', Courier, monospace;
       font-weight: 600;
       font-size: 17px;
       line-height: 17px;
       border: none;
       cursor: pointer;
       color: #fafafa;
    }
    &__password{
      position: relative;
    }
    &__eye{
      position: absolute;
      top: 50%;
      transform: translateY(-50%)  ;
    }
}

